/* Auto Complete */
:root {
  --SOW-PURPLE: #485CC7;
  --SOW-BLUE: #489FDF;
  --SOW-GREEN: #3CDBC0;
  --SOW-PINK: #DB3EB1;

  --BASIC-NAVY: #0E4174;
  --BASIC-GREY-1: #333333;
  --BASIC-GREY-2: #B8B8B8;
  --BASIC-WHITE: #ffffff;

  --OPACITY-WHITE: rgba(255, 255, 255, 0.6);

  --GRADIENT-BLUE:  linear-gradient(180deg, #485CC7 0%, #489FDF 33%, #485CC7 66%, #489FDF 100%);
}