// TODO: width 분기에 따라 폰트 설정하기
@mixin font($fontFamily, $weight, $size, $lineHeight, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  color: $color;

  // Fontfamily: 'Noto' | 'Inter' | 'Roboto'
  @if ($fontFamily == 'Noto') {
    font-family: 'Noto Sans', sans-serif;
  } @if ($fontFamily == 'Inter') {
  font-family: 'Inter', sans-serif;
} @if ($fontFamily == 'Roboto') {
  font-family: 'Roboto', sans-serif;
}

  //@if ($Ag == 'Widget-Title') {
  //  font-weight: 400;
  //  font-size: 28px;
  //  line-height: 34px;
  //}
}